# Ignore Mac system files
.DS_store

# Ignore all ml trainning images
/ml_predict/code/DataFile

# Ignore all ml env
/ml_predict/code/__pycache__
/ml_predict/code/photo.png

# Ignore all .env
*.env

# Ignore Model
/ml_predict/code/Model/

# Ignore Angular
/angular

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
