<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>图片悬停旋转堆叠特效</title>
    <link rel="stylesheet" href="app.component.css">
</head>

<body>
    <section>
      <div class="content">
        <h1>
          xxxxxxx
        </h1>
        <p>
          dksksjksjkjakdjksj
        </p>
      </div>
    </section>
    <div class="container">
        <div class="item">
            <span class="border"></span>
            <span class="border"></span>
            <span class="border"></span>
            <span class="border"></span>
            <img src="../assets/index_imgs/cat.jpeg" alt="">
        </div>
        <div class="item">
            <span class="border"></span>
            <span class="border"></span>
            <span class="border"></span>
            <span class="border"></span>
            <img src="../assets/index_imgs/dog.jpeg" alt="">
        </div>
        <div class="item">
            <span class="border"></span>
            <span class="border"></span>
            <span class="border"></span>
            <span class="border"></span>
            <img src="../assets/index_imgs/fox.jpeg" alt="">
        </div>
        <div class="item">
          <span class="border"></span>
          <span class="border"></span>
          <span class="border"></span>
          <span class="border"></span>
          <img src="../assets/index_imgs/kola.jpeg" alt="">
        </div>
        <div class="item">
          <span class="border"></span>
          <span class="border"></span>
          <span class="border"></span>
          <span class="border"></span>
          <img src="../assets/index_imgs/lion.jpeg" alt="">
        </div>
        <div class="item">
          <span class="border"></span>
          <span class="border"></span>
          <span class="border"></span>
          <span class="border"></span>
          <img src="../assets/index_imgs/tiger.jpeg" alt="">
        </div>
    </div>
</body>

</html>