
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(125deg, #2c3e50, #27ae60, #2980b9, #e74c3c, #8e44ad);
    background-size: 500%;
    animation: bgAnimation 15s linear infinite;
}
.header, .footer {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    right: 0;
}
.header {
    background-color: #196944;
    padding: 20px;
    text-align: center;
    top: 0;
}
.footer {
    padding: 10px;
    background: #196944;
    text-align: center;
    bottom: 0;
}
h3 {
    color: #FF9900;
    font-weight: bolder;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 40px;
}
.h1 {
    color: #990033;
    font-weight: bold;
    font-family: Apple Chancery, cursive;
    font-size: 25px;
}
.result-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 780px;
}
.result-section img {
    height: 300px;
    width: 500px;
    margin-top: 140px;
    margin-right: 100px;
}
.text-box {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
  }
  
.result-text {
    width: 500px;
    text-align: center;
    margin-top: 160px;
    color: #990033;
    font-weight: bold;
    font-family: Courier, monospace;
    font-size: 22px;
}
p {
    color: #CF5555;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}