body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:900px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:-webkit-linear-gradient(0deg, rgba(215, 215, 215, 1) 0%, rgba(215, 215, 215, 1) 80%, rgba(127, 127, 127, 1) 98%);
  background:-moz-linear-gradient(90deg, rgba(215, 215, 215, 1) 0%, rgba(215, 215, 215, 1) 80%, rgba(127, 127, 127, 1) 98%);
  background:linear-gradient(90deg, rgba(215, 215, 215, 1) 0%, rgba(215, 215, 215, 1) 80%, rgba(127, 127, 127, 1) 98%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:695px;
  width:200px;
  height:50px;
  display:flex;
}
#u115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:-webkit-linear-gradient(0deg, rgba(215, 215, 215, 1) 0%, rgba(215, 215, 215, 1) 80%, rgba(127, 127, 127, 1) 98%);
  background:-moz-linear-gradient(90deg, rgba(215, 215, 215, 1) 0%, rgba(215, 215, 215, 1) 80%, rgba(127, 127, 127, 1) 98%);
  background:linear-gradient(90deg, rgba(215, 215, 215, 1) 0%, rgba(215, 215, 215, 1) 80%, rgba(127, 127, 127, 1) 98%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:695px;
  width:200px;
  height:50px;
  display:flex;
}
#u116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:605px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:900px;
  height:600px;
  display:flex;
  color:#000000;
}
#u117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:540px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:130px;
  width:700px;
  height:540px;
  display:flex;
  color:#000000;
}
#u118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
  background:-webkit-linear-gradient(326.9756229186461deg, rgba(238, 238, 238, 1) 22%, rgba(232, 232, 232, 1) 86%);
  background:-moz-linear-gradient(123.02437708135395deg, rgba(238, 238, 238, 1) 22%, rgba(232, 232, 232, 1) 86%);
  background:linear-gradient(123.02437708135395deg, rgba(238, 238, 238, 1) 22%, rgba(232, 232, 232, 1) 86%);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 5px 0px rgba(51, 51, 51, 0.34901960784313724);
  -webkit-box-shadow:0px 5px 0px rgba(51, 51, 51, 0.34901960784313724);
  box-shadow:0px 5px 0px rgba(51, 51, 51, 0.34901960784313724);
  color:#000000;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:410px;
  width:100px;
  height:70px;
  display:flex;
  color:#000000;
}
#u120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u120_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
  background:inherit;
  background-color:rgba(194, 194, 194, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 5px 0px rgba(51, 51, 51, 0.34901960784313724);
  -webkit-box-shadow:0px 5px 0px rgba(51, 51, 51, 0.34901960784313724);
  box-shadow:0px 5px 0px rgba(51, 51, 51, 0.34901960784313724);
  color:#000000;
}
#u120.mouseDown {
}
#u120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:42px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:424px;
  width:24px;
  height:42px;
  display:flex;
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
  background:-webkit-linear-gradient(326.9756229186461deg, rgba(238, 238, 238, 1) 22%, rgba(232, 232, 232, 1) 86%);
  background:-moz-linear-gradient(123.02437708135395deg, rgba(238, 238, 238, 1) 22%, rgba(232, 232, 232, 1) 86%);
  background:linear-gradient(123.02437708135395deg, rgba(238, 238, 238, 1) 22%, rgba(232, 232, 232, 1) 86%);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 5px 0px rgba(51, 51, 51, 0.34901960784313724);
  -webkit-box-shadow:0px 5px 0px rgba(51, 51, 51, 0.34901960784313724);
  box-shadow:0px 5px 0px rgba(51, 51, 51, 0.34901960784313724);
  color:#000000;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:170px;
  width:100px;
  height:70px;
  display:flex;
  color:#000000;
}
#u123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u123_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
  background:inherit;
  background-color:rgba(194, 194, 194, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 5px 0px rgba(51, 51, 51, 0.34901960784313724);
  -webkit-box-shadow:0px 5px 0px rgba(51, 51, 51, 0.34901960784313724);
  box-shadow:0px 5px 0px rgba(51, 51, 51, 0.34901960784313724);
  color:#000000;
}
#u123.mouseDown {
}
#u123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:191px;
  width:33px;
  height:29px;
  display:flex;
}
#u124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
  background:-webkit-linear-gradient(326.9756229186461deg, rgba(238, 238, 238, 1) 22%, rgba(232, 232, 232, 1) 86%);
  background:-moz-linear-gradient(123.02437708135395deg, rgba(238, 238, 238, 1) 22%, rgba(232, 232, 232, 1) 86%);
  background:linear-gradient(123.02437708135395deg, rgba(238, 238, 238, 1) 22%, rgba(232, 232, 232, 1) 86%);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 5px 0px rgba(51, 51, 51, 0.34901960784313724);
  -webkit-box-shadow:0px 5px 0px rgba(51, 51, 51, 0.34901960784313724);
  box-shadow:0px 5px 0px rgba(51, 51, 51, 0.34901960784313724);
  color:#000000;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:290px;
  width:100px;
  height:70px;
  display:flex;
  color:#000000;
}
#u126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u126_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
  background:inherit;
  background-color:rgba(194, 194, 194, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 5px 0px rgba(51, 51, 51, 0.34901960784313724);
  -webkit-box-shadow:0px 5px 0px rgba(51, 51, 51, 0.34901960784313724);
  box-shadow:0px 5px 0px rgba(51, 51, 51, 0.34901960784313724);
  color:#000000;
}
#u126.mouseDown {
}
#u126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:33px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:309px;
  width:24px;
  height:33px;
  display:flex;
}
#u127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:170px;
  width:620px;
  height:460px;
}
#u128_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:460px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:358px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Bold", "Roboto Bold", "Roboto", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#EE4B9B;
  text-align:center;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:51px;
  width:620px;
  height:358px;
  display:flex;
  font-family:"Roboto-Bold", "Roboto Bold", "Roboto", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#EE4B9B;
  text-align:center;
}
#u129 .text {
  position:absolute;
  align-self:center;
  padding:20px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:144px;
  width:33px;
  height:29px;
  display:flex;
}
#u130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u128_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:460px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(50, 50, 50, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u128_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:358px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Bold", "Roboto Bold", "Roboto", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#62B924;
  text-align:center;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:620px;
  height:358px;
  display:flex;
  font-family:"Roboto-Bold", "Roboto Bold", "Roboto", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#62B924;
  text-align:center;
}
#u131 .text {
  position:absolute;
  align-self:center;
  padding:20px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:33px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:142px;
  width:24px;
  height:33px;
  display:flex;
}
#u132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u128_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:460px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(50, 50, 50, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u128_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:358px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto-Bold", "Roboto Bold", "Roboto", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#469AD0;
  text-align:center;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:620px;
  height:358px;
  display:flex;
  font-family:"Roboto-Bold", "Roboto Bold", "Roboto", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#469AD0;
  text-align:center;
}
#u133 .text {
  position:absolute;
  align-self:center;
  padding:20px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:42px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:138px;
  width:24px;
  height:42px;
  display:flex;
}
#u134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:918px;
  background:inherit;
  background-color:rgba(37, 51, 71, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:-540px;
  top:0px;
  width:500px;
  height:918px;
  display:flex;
}
#u135 .text {
  position:absolute;
  align-self:flex-start;
  padding:30px 30px 30px 30px;
  box-sizing:border-box;
  width:100%;
}
#u135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:105px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:530px;
  width:100px;
  height:100px;
  display:flex;
  color:#000000;
}
#u136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
